<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Rebecca Stamm">
    <meta name="keywords" content="Carnegie Mellon University Information Systems">
    <meta name="description" content="Rebecca Stamm Professional Website">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script defer src="../static/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title>Rebecca Stamm</title>
</head>
<body onload="addYear()">
    <header>
        <h1 id="webname">Rebecca Stamm</h1>
        <nav id="myTopnav" class="topnav">
            <a href="index.html" class="active">Home</a>
            <a href="cv.html">CV</a>
            <a href="contact.html">Contact Me</a>
            <a href="fun.html">For Fun</a>
            <a href="javascript:void(0);" class="icon">
                <i class="fa fa-bars" onclick="activeNav()"></i>
            </a>
        </nav>
    </header>
    <div class="main">
        <h2 id="greeting"></h2>
        <img src="../static/photo_of_me.png" alt="Rebecca Stamm Profile Image" width="350px" class="classA">
        <div class="classA">
            <span id="shortIntro">
                <br>
                I am a first-year in Information Systems at Carnegie Mellon University. 
                I am currently involved in CMU's Student Dormitory Council 
                and my dorm's House Council, where we work to increase student involvement 
                and spirit. I am also working on Student Dormitory Council's Booth team 
                for the 2024 Spring Carnival. I also play the trombone in the CMU Kiltie 
                band, and I am the second trombone in the All University Orchestra.
            </span>
            <span id="readMore">read more...</span>
            <span id="longIntro">
                <br>
                I am also a member of the Students Using Data for Social Good club, 
                and I am currently working on a project with the Pittsburgh Alliance for 
                Police Accountability, mapping out the recent Pittsburgh arrests and 
                looking for trends. I am super passionate about the data science aspect 
                of Information Systems, and I am planning to have an additional major or 
                a minor in statistics and data science.
            </span>
            <span id="readLess">read less</span>
        </div>
    </div>
    <footer>
        <p id="copyYear">Rebecca Stamm &copy;</p>
    </footer>
</body>
</html>